/*Navigation*/


header {
    min-height: 300px;
    background-image: -webkit-linear-gradient(270deg, rgba(255, 0, 0, 0.57), #222), url('../Resources/Background.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .57), #222), url('../Resources/Background.jpg');
    background-position: 0px 0px, 38% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.logo {
    padding: 20px;
    height: 220px;
    width: 400px;
    transition: transform 0.6s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo::after {
    width: 0%;
}


/*Header effect and button effects*/

.nav {
    font-family: 'Anton', sans-serif;
}

.nav a {
    position: relative;
    padding: 15px 40px;
    margin: 40px 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 35px;
    overflow: hidden;
    transition: 0.5s;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0003); */
}

.nav a:hover {
    background: rgb(255, 255, 255);
    color: #111;
    box-shadow: 0 0 40px rgb(255, 255, 255);
    transition-delay: 0.3s;
}

.nav a::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    transition: 0.5s;
}

.nav a:hover:before {
    width: 100%;
    height: 100%;
}

.nav a::after {
    content: '';
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    transition: 0.5s;
}

.nav a:hover:after {
    width: 100%;
    height: 100%;
}


/*Body*/

body {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background: #222;
}

.intro {
    font-size: 30px;
    text-align: center;
    color: white;
}


/*Counter effect*/

.counterClass{
    border-radius: 35px;
    background: linear-gradient(145deg, #1f1f1f, #242424);
    box-shadow:    19px 19px 38px #0e0e0e,
    -19px -19px 38px #363636;
}

#counter {
    text-align: center;
    padding: 15px;
    border-right: 1px dashed rgb(255, 255, 255);
    color: white;
    font-family: Helvetica;
    
}

#counter:last-child {
    border-right: 0px solid rgb(255, 255, 255);
}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

i {
    font-size: 20px !Important;
}


/*Slogan effect*/

#rolling{
    border-radius: 35px;
    background: linear-gradient(145deg, #1f1f1f, #242424);
    box-shadow:    19px 19px 38px #0e0e0e,
    -19px -19px 38px #363636;
}

body h2 {
    padding-right: 10%;
    font-size: 5vw;
    font-family: Helvetica;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #ffffff;
}



.mask {
    
    height: 110px;
    position: relative;
    overflow: hidden;
      
}

.mask span {
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    padding-bottom: var(--offset);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    

}

.mask span[data-show] {
    transform: translateY(-100%);
    transition: 0.5s transform ease-in-out;
    
}

.mask span[data-up] {
    transform: translateY(-200%);
    transition: 0.5s transform ease-in-out;
}

.mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.mask span:nth-child(5) {
    background-image: linear-gradient(45deg, #fbf97c 50%, #ebfa1a);
}

.mask span:nth-child(6) {
    background-image: linear-gradient(45deg, #ff8b48 50%, #ff5100);
}


/*SearchBar*/

.searchBoxCards{
    padding: 30px;
    border-radius: 35px;
background: linear-gradient(145deg, #1f1f1f, #242424);
box-shadow:    19px 19px 38px #0e0e0e,
-19px -19px 38px #363636;
}

.SearchBarWhole {
    font-family: 'Anton', sans-serif;
}

form {
    margin-top: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 100%;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 20px;
    transition: all 1s;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 45px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 2em;
    border-radius: 20px;
    padding: 0 20px;
    font-family: Helvetica;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.5em;
    transition: all 1s;
}

form:hover {
    box-shadow: 0 0 30px rgb(255, 255, 255);
    cursor: pointer;
}

form:hover .fa {
    background: #07051a;
    color: white;
}


/*Search Bar and Cards*/

.col-sm-4 {
    padding: 10px;
}

.card {
    color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 8rem 0 0;
    max-width: 50ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card-body {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    font-size: 0.5px;
    margin: 0;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient( hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.3) 20%, hsl(0 0% 0% / 1));
}

.card-title::after {
    content: "";
    position: absolute;
    left: calc(var(--padding)*-1);
    bottom: -7px;
    height: 5px;
    width: calc(100% + var(--padding));
    background: rgb(41, 80, 255);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1)
}

@media(hover) {
    .card-content {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }
    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }
    .card:focus-within .card-content {
        transition-duration: 0ms;
    }
    .card-content>*:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    .card:hover .card-content>*:not(.card-title),
    .card:focus-within .card-content>*:not(.card-title) {
        opacity: 1;
        transition-delay: 500ms;
    }
    .card-title::after {
        transform: scaleX(0);
    }
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 0.5em 1.25em;
    border-radius: 15px;
}

.button:hover,
.button:focus {
    background-color: rgb(66, 66, 66);
    color: white;
}


/*Card Popup*/

.model-container {
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
}

.model-container.show {
    pointer-events: auto;
    opacity: 1;
}

.model {
    background: linear-gradient(45deg, #f5c7b9, #db7f7f, #72b4ff, #72ffde);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    width: 75%;
    height: 650px;
    max-width: 100%;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
}

.model::-webkit-scrollbar {
    display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.headerInfo {
    text-decoration: underline;
    font-size: 45px;
    font-family: 'Anton', sans-serif;
}

.descriptionHead {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.description {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.coversHead {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.covers {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.websiteHead {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.website {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.fieldsHead {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.field {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.qualifyHead {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.qualify {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.close {
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-style: none;
}

.close:hover,
.close:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
}


/* Wave Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}


/*Footer decoration*/

footer {
    background-color: rgb(255, 255, 255);
    font-family: Helvetica;
    padding: 40px 0 15px;
    font-size: 15px;
    line-height: 24px;
    width: 100%;
    border-top: 3px solid Black;
    bottom: 0px;
}

.footerBack{
    border-radius: 35px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  19px 19px 38px #666666,
                 -19px -19px 38px #ffffff;
}


footer p {
    color: Black;
}

footer h6 {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

footer a {
    color: black;
}

footer a:hover {
    color: black;
    text-decoration: none;
}

language-links {
    padding-left: 0;
    list-style: none
}

language-links a {
    color: black
}

page-links {
    padding-left: 0;
    list-style: none
}

page-links a {
    color: black
}